:root {
  --black:#2E2E2E;
  --lightgrey:#d3d3d3;
}

.App{
  font-family: 'Roboto Condensed', sans-serif;
}
/*Nav Stuff*/
#Nav{
  list-style: none;
  margin: 0;
  padding: 0;
  height: 5vmax;
  text-align: right;
  border-bottom:1px solid var(--black);
  position:fixed;
  top:0;
  left:0;
  width:100%;
  background-color:white;
  z-index: 1000;
}
.nav-logo{
  display: inline-block;
  height: 5vmax;
  width: 8vmax;
  position: absolute;
  left: 5vmax;
}
.nav-logo img{
  width:100%;
  height:100%;
}
.nav-item{
  display: inline-block;
  text-align: center;
  font-size: 1.5vmax;
  position: relative;
  color: var(--black);
  border-radius: 1px;
  height: 100%;
  overflow: hidden;
}
.nav-item a{
  text-decoration: none;
  position: relative;
  top: 30%;
  padding: 2vmax;
  color: inherit;
}
.nav-item:not(.selected-nav-item):hover{
  background-color:var(--lightgrey);
  color:white;
  cursor:pointer;
}
.selected-nav-item{
  background-color:var(--black);
  color:white;
  cursor: pointer;
}
.nav-item:last-child{
  margin-right:8vmax;
}
/*Home Page stuff*/
#Home{
  margin-top:5vmax;
}
.home-menu-preview{
  list-style:none;
  padding:0;
  margin:0;
  height:50vmax;
  overflow: hidden;
}
.MenuItemPreview{
  display: inline-block;
  width: 16.66%;
  height: 100%;
  -webkit-transition: width .2s ease-in-out;
  -o-transition: width .2s ease-in-out;
  transition: width .2s ease-in-out;
  background-color: white;
}
.home-preview-image{
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  -webkit-transition: background-image 0.75s ease-in-out;
  transition: background-image 0.75s ease-in-out;
  background-color:grey;
}
.home-preview-title,.home-preview-desc{
  display: none;
}
.home-preview-title{

}
.home-preview-desc{

}
.home-preview-image:hover{
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
  transform: scale(1.2);
}
/*Menu Page stuff*/
#Menu{

}
/*About Page stuff*/
#About{

}