:root {
  --black:#2E2E2E;
  --lightgrey:#d3d3d3;
  --red:#bd262b;
}

.App{
  font-family: 'Roboto Condensed', sans-serif;
}
/*Nav Stuff*/
#Nav{
  list-style: none;
  margin: 0;
  padding: 0;
  height: 5vmax;
  text-align: right;
  border-bottom:1px solid var(--black);
  position:fixed;
  top:0;
  left:0;
  width:100%;
  background-color:white;
  z-index: 1000;
}
.nav-logo{
  display: inline-block;
  height: 5vmax;
  width: 8vmax;
  position: absolute;
  left: 5vmax;
}
.nav-logo img{
  width:100%;
  height:100%;
}
.nav-item{
  display: inline-block;
  text-align: center;
  font-size: 1.5vmax;
  position: relative;
  color: var(--black);
  border-radius: 1px;
  height: 100%;
  overflow: hidden;
}
.nav-item a{
  text-decoration: none;
  position: relative;
  top: 30%;
  padding: 2vmax;
  color: inherit;
}
.nav-item:not(.selected-nav-item):hover{
  background-color:var(--lightgrey);
  color:white;
  cursor:pointer;
}
.selected-nav-item{
  background-color:var(--black);
  color:white;
  cursor: pointer;
}
.nav-item:last-child{
  margin-right:8vmax;
}
/*Home Page stuff*/
#Home{
}
.home-text{
  user-select: none;
  color:var(--lightgrey);
  position: absolute;
  top: 20vmax;
  z-index: 1;
  width: 100%;
  text-align: center;
  font-size: 9vmax;
  transition: visibility 0.05s, opacity 0.3s linear;
  font-family: 'Kaushan Script', cursive;
  font-weight: bold;
  text-shadow: 5px 2px #151212a6;
  visibility:visible;
}
.home-menu-preview{
  margin-top:5vmax;
  list-style:none;
  padding:0;
  height:55vw;
  overflow: hidden;
  width:100%;
  display:inline-flex;
}
.MenuItemPreview{
  width: 16.66%;
  height: 100%;
  -webkit-transition: width .2s ease-in-out;
  -o-transition: width .2s ease-in-out;
  transition: width .2s ease-in-out;
  background-color: white;
  position:relative
}
.home-preview-image{
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  -webkit-transition: background-image 0.75s ease-in-out;
  transition: background-image 0.75s ease-in-out;
  background-color:grey;
}
.home-preview-title,.home-preview-desc{
  display: none;
  user-select: none;
}
.home-preview-title{
  position: absolute;
  font-size: 2vmax;
  top: 34%;
  width: 100%;
  text-align: center;
  color: snow;
  text-shadow: 1px 0px #afafaf;
  border-bottom-style: solid;
  border-bottom-color: snow;
  border-bottom-width: 2px;
  padding-bottom:10px;
}
.home-preview-desc{
  position: absolute;
  font-size: 1.5vmax;
  top: 45%;
  width: 100%;
  text-align: center;
  color: snow;
  text-shadow: 1px 0px #afafaf;
}
.MenuItemPreview:hover .home-preview-image{
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
  transform: scale(1.02);
}
.MenuItemPreview:hover{
  width:23%;
  cursor: pointer;
  -webkit-transition: width .2s ease-in-out;
  transition: width .2s ease-in-out;  
}
/*Menu Page stuff*/
#Menu{
  text-align: center;
}
#MenuNav{
  margin-top:6vmax;
  width:100%;
  padding:0;
  text-align: center;
}
.menu-nav-items{
  display: inline-block;
  color: grey;
  background-color: white;
  width: 13vmax;
  height: 100%;
  cursor: pointer;
  font-size: 1.6vmax;
  font-family: 'Lobster', cursive;
  padding:1vmax;
  border-bottom: 3px solid var(--lightgrey);
}
#selected-menu-nav{
  border-bottom: 3px solid var(--red);
  color:var(--red);
}
#MenuItems{
  list-style: none;
  padding: 0;
  margin: 0;
  width: 80%;
  display: inline-block;
  margin-top:2em;
}
.menu-item{
  display: inline-block;
  width: 24vmax;
  height: 10vmax;
  position: relative;
  margin: 1vmax;
  cursor: pointer;
}
.menu-item-img{
  width: 7vmax;
  border-radius: 15em;
  position: absolute;
  left: 0;
  top: 0;
}
.menu-item-title{
  display:inline-block;
  position: absolute;
  left: 7vmax;
  top: 0;
  font-size: 1.5vmax;
  font-family: 'Passion One', cursive;
  color: var(--red);
}
.menu-item-desc{
  font-size: 1vmax;
  top: 2vmax;
  position: absolute;
  width: 16.5vmax;
  right: 0;
  overflow: hidden;
  height: 4.5vmax;
}
.menu-item-price{
  display:inline-block;
  font-size: 1.5vmax;
  color: var(--red);
  position: absolute;
  right: 1vmax;
  bottom: 1vmax;
  font-family: 'Pacifico', cursive;
}
/*About Page stuff*/
#About{
  text-align: center;
  height:62vmax;
}
#Slideshow{
  margin-top:6vmax;
  width: 70vmax;
  height: 35vmax;
  display: inline-block;
  border: 1px solid var(--lightgrey);
}
.owner-quote-wrapper{
  margin-top:2em;
}
.owner-quote{
  display: inline-block;
  width: 22vmax;
  font-size: 1.5vmax;
  bottom: 4vmax;
  position: relative;
}
.owner-quote::after { 
  font-size:1.2vmax;
  content: " - Poe Wongpa, Owner";
}
.owner-image{
  border-radius: 5px;
  width: 10vmax;
  display: inline-block;
}
/*Contact Page*/
#Contact{
  position: relative;
  width: 100%;
  height: 30vmax;
  text-align: center;
}
.contact-location,.contact-hours,.contact-info{
  display: inline-grid;
  list-style: none;
  padding:0;
  margin:0;
  text-align: center;
  margin:0 6vmax;
}
.contact-label{
  font-size: 2vmax;
  font-weight: bold;
  border-bottom:3px solid var(--black);
  padding-bottom:5px;
}
.contact-item{
  margin-top:2vmax;
}
.contact-item a{
  text-decoration: none;
  color:var(--black);
}

/*Mobile Stuff*/
@media only screen and (max-width : 755px) {
  /*Nav*/
  #Nav{

  }
  /*Home*/
  .home-text{
    font-size: 10vmin;
    top: 24vmin;
  }
  .home-menu-preview{
    height: 64vmin;
  }
  .home-preview-title{

  }
  .home-preview-desc{
    font-size: 2.4vmin;
    top:35vmin;
  }
  /*Menu*/
  #MenuItems{
    width:100%;
  }
  .menu-nav-items{
    width:11vmax;
    padding:1vmax 0;
  }
  .menu-item{
    width: 47vmin;
    height: 19vmin;
    margin: 2vmin 1vmin;
  }
  .menu-item-desc{
    font-size: 2vmin;
    width: 30vw;
    height: 8vw;
    text-align: left;
  }  
  /*About*/
  #Slideshow{
    width:97vmin;
  }
  /*Contact*/
  #Contact{
    height:fit-content;
  }
  #Contact ol{
    margin: 7vmin 2vmin;
  }
}